//- разметка футера
footer.footer
    .footer__wrapper.wrapper
        .footer__menu
            .footer__item
                .footer__logos
                    a(href="#" class="footer__logo")
                    span(class="footer__logotext") MyMoscow      
                p(class="footer__text").
                        Мы приглашаем тебя на самые разные
                        экскурсии по Москве. Автобусные и
                        пешеходные, на целый день или на
                        несколько часов, на свежем воздухе или с
                        заходом в здания - у нас в ассортименте
                        более 20 авторских экскурсий по Москве,
                        выбирай и узнавай Москву вместе с нами!
            .footer__item
                h4 Контакты
                ul(class="footer__contacts contacts-block")
                    li(class="contacts-block__adress")
                        span Москва, Большая Спасская 12
                    li(class="contacts-block__email")
                        a(href="mailto:moscow@imoscow.ru") moscow@imoscow.ru
                    li(class="contacts-block__phone")
                        a(href="tel:+74956264600") 8 (495) 626-46-00
            .footer__item
                h4 Последние новости
                .footer__news
                    p.
                        Curabitur felis nibh, lacinia non rhoncus vel,
                        lobortis et lorem. Class aptent taciti sociosqu
                        ad litora torquent per lobortis et lorem. 
                        Class aptent taciti sociosqu
                    date 5 марта 2018
                    p. 
                        Curabitur felis nibh, lacinia non rhoncus vel,
                        lobortis et lorem. Class aptent taciti sociosqu 
                        ad litora torquent lobortis et lorem. 
                        Class aptent taciti sociosqu
                    date 12 декабря 2017
.footerBottom
    .footerBottom__wrapper.wrapper
        .footerBottom__content
            span(class="footerBottom__item footerBottom__item--info") &#169; 2019 Copyright. Все права защищены
            span(class="footerBottom__item footerBottom__item--info") Designed by Nordic IT School
            ul(class="footerBottom__item footerBottom__item--social social")
                li(class="social__item"): a(href="#" class="social__link social__link--vk")
                li(class="social__item"): a(href="#" class="social__link social__link--fb")
                li(class="social__item"): a(href="#" class="social__link social__link--inst")