//- разметка блока с навигацией
nav(class="header__navigation navigation")
    a(href="#" class="navigation__text")
        img(src="img/icons/spasskaya-tower.png", alt="logo", class="navigation__logo")
        | MyMoscow
    ul(class="navigation__list")
        li(class="navigation__item"): a(href="index.html" class="navigation__link") Главная
        li(class="navigation__item"): a(href="#services" class="navigation__link link") Наши услуги
        li(class="navigation__item"): a(href="#aboutUs" class="navigation__link link") О компании
        li(class="navigation__item"): a(href="#feedback" class="navigation__link link") Отзывы
        li(class="navigation__item"): a(href="page2.html" class="navigation__link") Контакты
        
          
